@model IList<Confere.Telefonia.Web.Models.DestinoViewModel>

@{
    ViewBag.Title = "Destinos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Destinos
        <small>Tabela dos destinos registrados no sistema.</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Cadastro</a></li>
        <li class="active">Destinos</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">

                <div class="box-header">
                    <div id="boxBtnImprimir" class="pull-left box-tools">
                        @Html.Partial("_BotoesImpressao")
                    </div>
                    <div id="boxBtnCadastro" class="pull-right box-tools">
                        @Html.Partial("_BotoesDT")
                    </div>
                </div>

                <div class="box-body table-responsive">
                    <table id="tblDados" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Qtde Ligações <small>(@DateTime.Now.Year)</small></th>
                                <th>Nº Funcionários <br /><small>(com ligações para esse destino em @DateTime.Now.Year)</small></th>
                                <th>Duração Média <br /><small>(da ligação efetuada em @DateTime.Now.Year)</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var destino in Model)
                            {
                                <tr data-destino-id="@destino.Id">
                                    <td class="destino-nome">@destino.Nome</td>
                                    <td>@destino.QtdeLigacoes</td>
                                    <td>@destino.NumeroFuncionarios</td>
                                    <td>@destino.DuracaoMedia</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>

</section><!-- /.content -->

@section Modais {
    @Html.Partial("_ModalAlteracao")
    @Html.Partial("_ModalExclusao")
    @Html.Partial("_ModalInclusao")
}

@section Scripts {
    @Html.Partial("_DataTable")

    <script type="text/javascript">

        function objetoSelecionado() {
            //recuperar os atributos do destino na linha selecionada
            var tr = $("#tblDados tr.DTTT_selected");
            return {
                "id": $(tr).data('destino-id'),
                "nome": $('td.destino-nome', tr).text()
            }
        }

        //disparada quando modalExcluir estiver prestes a ser mostrada
        $('#modalExcluir').on('show.bs.modal', function (e) {
            var objeto = objetoSelecionado();

            //popular os campos do formulário
            $(e.currentTarget).find('input[name="id"]').val(objeto.id);
            $(e.currentTarget).find('#nome').text(objeto.nome);
        });

        //disparada quando modalAlterar estiver prestes a ser mostrada
        $("#modalAlterar").on('show.bs.modal', function (e) {
            var objeto = objetoSelecionado();

            //popular os campos do formulário
            $(e.currentTarget).find('input[name="id"]').val(objeto.id);
            $(e.currentTarget).find('input[name="nome"]').val(objeto.nome);
        });

        $(".cadastro-menu").addClass('active');
        $(".cadastro-menu ul li:nth-child(4)").addClass('active');

    </script>
}

